.contact-root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1e2936;
  color: #9ca2ac;
}

.card {
  width: 75%;
  text-align: center;
  padding: 20px;
  background-color: #1e2936;
  border: 1px solid #f3f5f7;
}

.card-title {
  color: #f3f5f7;
}

.form-control {
  background-color: #ffffff;
  color: #1e2936;
  border: 1px solid #f3f5f7;
}

.form-control label {
  color: #9ca2ac;
}

.form-label {
  color: #9ca2ac;
}

.btn-primary {
  background-color: #f3f5f7;
  border-color: #f3f5f7;
  color: #1e2936;
}

.moveTarget {
  margin-left: 200px !important;
}

/* .contactContainer {
  margin-right: 140px;
} */
