/* .contact-root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1e2936;
  color: #9ca2ac;
}

.card {
  width: 75%;
  text-align: center;
  padding: 20px;
  background-color: #1e2936;
  border: 1px solid #f3f5f7;
}

.card-title {
  color: #f3f5f7;
}

.form-control {
  background-color: #ffffff;
  color: #1e2936;
  border: 1px solid #f3f5f7;
}

.form-control label {
  color: #9ca2ac;
}

.form-label {
  color: #9ca2ac;
}

.btn-primary {
  background-color: #f3f5f7;
  border-color: #f3f5f7;
  color: #1e2936;
}

.moveTarget {
  margin-left: 200px !important;
} */

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 5px solid #ccc;
  border-radius: 8px;
  background-color: #070a13;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px; /* Set a max-width for better responsiveness */
  margin: auto;
}

.contact-form h2 {
  color: #4f46e5;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: #070a13; /* Background color for input fields */
  color: #ffffff; /* Text color for input fields */
  border: 3px solid #fff; /* Border color for input fields */

  margin-bottom: 15px;
}

form textarea {
  width: 100%;
  max-height: 100px; /* Set a fixed height for the textarea */
  border-radius: 4px;
  resize: none; /* Disable textarea resizing */
  background-color: #070a13; /* Background color for textarea */
  color: #ffffff; /* Text color for textarea */
  border: 3px solid #fff; /* Border color for textarea */
  padding: 10px; /* Adjust padding as needed */
  margin-bottom: 30px; /* Add spacing between textarea and other elements */
  resize: none !important;
}

form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  background-color: #3c358e; /* Background color for the button */
  color: #fff;
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #3c358e;
}
