.work__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 15px;
  margin: 0 5%;
  padding-bottom: 5%;
}

.work__project {
  position: relative;
  margin: 20px;
  width: 100%;
  max-width: 40em;
  height: 400px;
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.work__img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 8px; 
}

.work__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85); 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
}

.work__project:hover {
  transform: scale(1.02);
}

.work__project:hover .work__overlay {
  opacity: 1;
}

.work__text {
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.work__project-title {
  font-size: 1.5rem;
}

.work__project-description {
  font-size: 1rem;
  margin: 0;
}

.project__links {
  display: flex;
  gap: 10px;
}

.project__button {
  padding: 10px 20px;
  background-color: #4f46e5;
  color: white !important;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.project__button:hover {
  background-color: #3730a3;
  color: white !important;
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .work__project {
    width: 88%; /* Full width on smaller screens */
    height: auto; /* Adjust height */
  }
  .project__button  {
    padding: 5px 10px;
    font-size: .65rem;
  }
}
