footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px; /* Adjust the height according to your design */
}

/* Add styles for the icons */
footer svg {
  font-size: 24px; /* Adjust the icon size */
  margin: 0 15px; /* Add spacing between icons */
  cursor: pointer; /* Add a pointer cursor for interactivity */
  color: #333; /* Set the icon color */
}

/* Change icon color on hover for interactivity */
footer svg:hover {
  color: #e11d48; /* Change to your preferred hover color */
}

footer button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

footer button:hover {
  color: #e11d48;
}
