strong {
  color: #4f46e5;
  font-size: 1.25em;
}

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.heroSection p {
  margin: 20px;
}

.introText {
  font-size: 1.25em;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  background: linear-gradient(to right, #4f46e5, #e11d48, #4f46e5);
  color: #94a3b8 !important;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;
  line-height: 0.9;
}

.imageContainer {
  height: 5%;
  width: 5%;
}

.iconContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  font-size: 5rem;
  color: #e11d48;
}

.rotating-icon {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.aboutMe p {
  font-size: 1.25em;
  margin-left: 10%;
  margin-right: 10%;
}

/* */
.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 20px; /* Adjust the padding as needed */
}

.profileImageContainer {
  width: 10em; /* Set the desired width */
  height: 10em; /* Set the desired height */
  border-radius: 50%; /* Optional: Create a circular border */
  overflow: hidden;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.techStack {
  margin-bottom: 20px;
}

.aboutMe {
  margin-bottom: 20px;
}

section {
  padding: 20px;
}

body {
  overflow-x: hidden; /* This will hide the horizontal scrollbar */
}
